[submodule "Externals/Translucent"]
	path = Externals/Translucent
	url = https://github.com/henriquewerlang/Translucent.git
	branch = master
[submodule "Externals/TestInsightFramework"]
	path = Externals/TestInsightFramework
	url = https://github.com/henriquewerlang/TestInsightFramework.git
	branch = main
